// global styles
@use '../../../lib/styles/utils' as *;

main {
	@extend %wrapper;
	@media (max-width: 750px) {
		padding-block: 2rem 6rem;
	}
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

button {
	all: unset;
	display: flex;
	align-items: center;
	gap: 0.35rem;
	text-transform: uppercase;
	background-color: var(--purple);
	color: var(--background);
	padding: 0.5rem 1rem;
	border-radius: 6px;
}

.book {
	&__genre {
		display: flex;
		gap: 0.75rem;
		align-items: center;
	}

	.genre {
		background-color: hsl(30 98% 85%);
		padding: 0.25rem;
		border-radius: 6px;
	}

	&__cover {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 0.5rem;

		img {
			border-radius: 8px 18px 18px 8px;
		}
	}

	&__wrapper {
		position: relative;
		display: flex;
	}

	&__recommendation {
		.books {
			--min-width: 120px;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
			gap: clamp(0.5rem, 4vw + 1rem, 0.75rem);
			margin-block-start: 0.5rem;
		}
	}

	.review {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		img {
			border-radius: 50%;
			block-size: clamp(3rem, 5vw + 1rem, 4.5rem);
			inline-size: clamp(3rem, 5vw + 1rem, 4.5rem);
		}

		&__description, &__info {
			display: grid;
			gap: 0.5rem;
		}

		&__author-info {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
		}

		// might have to remove
	}
}
