@use '../../../lib/styles/utils' as *;

main {
	@extend %wrapper;
	padding-block: 2rem;
	@media (max-width: 850px) {
		padding-block: 2rem 6rem;
	}
}

.added-to-cart {
	--bg: var(--purple-100);
}

img {
	display: block;
	max-inline-size: 174px;
	object-fit: cover;
}

button {
	gap: 0.35rem;
	text-transform: uppercase;
	background-color: var(--purple);
	color: var(--background);
	padding: 0.5rem 1rem;
	border-radius: 6px;

	&:hover {
		background-color: var(--purple-100);
	}
}

.back {
	position: absolute;
	top: 1.5rem;
	padding: clamp(0.25rem, 4vw - 1rem, 0.5rem);
	display: flex;
	border: 2px solid hsl(30 98% 25%);
	background-color: transparent;
	color: currentColor;
	border-radius: 6px;

	&:hover {
		background-color: hsl(var(--accent) 88%);
	}

	@media (min-width: 850px) {
		display: none;
	}
}

.genre {
	text-transform: capitalize;
}

.book {
	display: grid;
	position: relative;
	gap: 1.25rem;
	grid-template-areas:
		'cover'
		'info'
		'recommendation'
		'review';

	@media (min-width: 860px) {
		gap: 2.25rem;
		grid-template-areas:
			'cover info info'
			'. recommendation recommendation'
			'. review review';

		p {
			max-inline-size: 75ch;
		}

		&__cover {
			position: sticky;
			top: 1.5rem;
		}
	}

	&__description {
		line-height: 1.35;
	}

	&__genre {
		@extend %items-center;
		gap: 0.75rem;
		flex-wrap: wrap;
	}

	&__info {
		display: grid;
		gap: 0.75rem;
		grid-area: info;
	}

	&__rating {
		@extend %items-center;
		gap: 0.5rem;

		h2 {
			line-height: 0;
		}
	}

	&__review {
		grid-area: review;

		@media (min-width: 860px) {
			display: grid;
			gap: 1.25rem;
		}
	}

	.genre {
		background-color: hsl(var(--accent) 90%);
		padding: 0.25rem;
		border-radius: 6px;
	}

	&__cover {
		@extend %items-center;
		flex-direction: column;
		gap: 0.5rem;
		grid-area: cover;

		img {
			border-radius: 8px 18px 18px 8px;
		}
	}

	&__wrapper {
		position: relative;
		display: flex;
	}

	&__recommendation {
		display: grid;
		gap: 0.5rem;
		grid-area: recommendation;
		.books {
			--min-width: 110px;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
			gap: clamp(0.5rem, 4vw + 1rem, 0.75rem);
			margin-block-start: 0.5rem;
		}
	}

	.review {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin-block-start: 1rem;

		@media (min-width: 860px) {
			flex-direction: row;
			gap: 2.5rem;

			&__author-info {
				max-inline-size: 8ch;
				text-align: center;
			}
		}

		img {
			border-radius: 50%;
			block-size: clamp(3rem, 5vw + 1rem, 4.5rem);
			inline-size: clamp(3rem, 5vw + 1rem, 4.5rem);
		}

		&__description {
			display: grid;
			gap: 0.5rem;
			line-height: 1.35;
		}

		&__author-info {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
		}
	}

	&__rating,
	&__price {
		font-family: 'Open Sans', sans-serif;
	}
}
