	section {
		h1 {
			text-align: center;
		}

		@media (min-width: 850px) {
			margin-top: calc(-1 * var(--nav));
			h1 {
				text-align: left;
			}
		}
	}

	.row {
		display: flex;
		flex-direction: column;
		gap: 0.35rem;
	}

	form {
		inline-size: min(100%, clamp(20rem, 100%, 25rem));
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: 1.5rem;
	}

	button {
		background-color: var(--purple);
		color: var(--background);
		border-radius: 0.25rem;
		padding: 0.7rem 1rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: var(--fs--200);
		justify-content: center;
		font-weight: bold;
	}

	p {
		margin-top: 1rem;
	}

	a {
		color: hsl(34 90% 50%);

		&:hover {
			text-decoration: underline;
		}
	}