@use '../../lib/styles/utils' as *;

main {
	display: grid;
	grid-template-columns: repeat(24, 1fr);

	@media (max-width: 750px) {
		padding-block-end: 4rem;
	}
}

.bookshelf {
	--min-width: 120px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
	gap: clamp(0.5rem, 4vw - 1rem, 1rem);
	padding: 1.5rem 0;
}

.options,
.recommendation {
	grid-column: span 5;
	background-color: hsl(34 98% 93%);
	position: sticky;
	top: 0;
	padding: 1.5rem 2rem;
	max-block-size: calc(100vh - 2px);
	transition: translate 0.25s ease-in-out;

	h2 {
		font-size: var(--fs--100);
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-block-end: 1rem;
	}
}

.dark-screen {
	position: fixed;
	top: 0;
	left: 0;
	block-size: 100%;
	inline-size: 100%;
	background-color: hsl(34 98% 98% / 0%);
	transition: background-color 0.25s ease-in-out;
	z-index: 1;
	border: none;
	cursor: pointer;

	&[data-state='open'] {
		background-color: hsl(34 98% 98% / 0.5);
		pointer-events: auto;
	}

	&[data-state='closed'] {
		background-color: hsl(34 98% 98% / 0);
		pointer-events: none;
	}
}

@media (max-width: 1030px) {
	.options {
		grid-column: 1 / 20;
		z-index: 2;
		overflow-y: auto;
		box-shadow: -20px 0 25px -5px hsl(34 30% 70% / 30%), -4px 0 6px -4px hsl(34 30% 70% / 30%);
		max-width: min(80%, 30ch);
	}

	.books,
	.options {
		grid-row: 1;
	}
}

.options {
	&[data-state='open'] {
		translate: 0;
	}

	&[data-state='closed'] {
		translate: -100%;

		@media (min-width: 1030px) {
			translate: 0;
		}
	}
}

.recommendation {
	background-color: hsl(34 98% 98%);

	@media (max-width: 1170px) {
		display: none;
	}

	&__bookshelf {
		--min-width: 80px;
		margin-block-start: 2rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
		gap: clamp(0.5rem, 4vw - 1rem, 1rem);

		img {
			block-size: 100%;
			inline-size: 100%;
			object-fit: cover;
			border-radius: 0.5rem;
		}
	}
}

.books {
	grid-column: 6 / -6;
	padding: 1rem 2rem;

	@media (max-width: 1170px) {
		grid-column: 6 / -1;
	}

	@media (max-width: 1030px) {
		grid-column: 1 / -1;
	}
}

form {
	max-inline-size: 50ch;
}

.book__wrapper {
	position: relative;
	display: flex;
}

.filter__options {
	display: grid;
	gap: 0.35rem;
	align-content: start;

	label {
		display: flex;
		gap: 0.25rem;
	}
}

// checkbox styles
.control {
	position: relative;
	padding-left: 30px;
	padding-top: 2px;
	cursor: pointer;
}
.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control_indicator {
	position: absolute;
	top: 2px;
	left: 0;
	block-size: 20px;
	inline-size: 20px;
	background-color: transparent;
	border: 1px solid var(--text);
	border-radius: 6px;
}
.control:hover input ~ .control_indicator,
.control input:focus-visible ~ .control_indicator {
	background-color: hsl(34 98% 89%);
}

.control input:checked ~ .control_indicator {
	background-color: var(--text);
}

.control_indicator:after {
	box-sizing: unset;
	content: '';
	position: absolute;
	opacity: 0;
	transform: rotate(25deg) scale(0.7);
}

.control input:checked ~ .control_indicator:after {
	display: block;
	transform: rotate(45deg) scale(1);
	opacity: 1;
}

.control-checkbox .control_indicator:after {
	left: 7px;
	top: 3px;
	inline-size: 3px;
	block-size: 9px;
	border: solid var(--background);
	border-width: 0 2px 2px 0;
	transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

// action buttons

.actions {
	display: flex;
	gap: 0.75rem;
	align-items: center;

	form {
		flex-grow: 1;
		flex-shrink: 0;
	}
}

.actions {
	flex: 1;

	&__btn {
		display: flex;
		gap: 0.35rem;

		@media (min-width: 1030px) {
			display: none;
		}
	}

	@media (max-width: 450px) {
		padding: 0.5rem 0;
		position: sticky;
		top: 0;
		z-index: 1;
		background-color: var(--background);
	}

	button {
		--size: 2.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		block-size: var(--size);
		inline-size: var(--size);
		border-radius: 50%;
		color: hsl(34 98% 20%);
		border: 2px solid;
		background-color: transparent;
		cursor: pointer;

		&:hover {
			border-color: transparent;
			background-color: hsl(34 98% 20%);
			color: var(--background);
		}
	}
}
